DB_HOST={{ rds_endpoint }}
DB_NAME={{ db_name }}
DB_USER={{ db_user }}
DB_PASSWORD={{ db_password }}
DB_PORT=5432

S3_BUCKET_NAME={{ s3_bucket_name }}
SNS_TOPIC_ARN={{ sns_topic_arn }}
AWS_REGION={{ aws_region }}

WORKER_URL=http://{{ worker_private_ip }}:5001